<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - CryptoSentry</title>
    <link rel="stylesheet" href="css/about_us_styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
	<img src="https://drive.google.com/uc?id=12Fht96CfvtwbRdwy3JBUY7gyYty2c7Vs">
        <div>
		   <h1>About Us</h1>
		   <a href="register.html">Sign Up</a> <!-- Link to the registration page -->
		   <a href="login.html">Log In</a> <!-- Link to the login page -->
		   <a href="landing.html">Home</a> <!-- Link to logout user -->
		</div>
    </header>
    
    <section class="content">
        <h2>Meet the Team</h2>
        <p>
            Hello! I'm Ifeanyichukwu Izuegbu, a passionate software engineer with a deep interest in the world of cryptocurrencies.
            At CryptoSentry, we are dedicated to providing you with reliable and up-to-date information about the
            exciting and ever-changing world of digital currencies.
        </p>

        <h2>Our Mission</h2>
        <p>
            Our mission is simple yet ambitious: to empower you with the knowledge and tools needed to navigate the
            crypto landscape confidently. We believe that cryptocurrencies have the potential to revolutionize finance,
            and we want to be your trusted guide on this exciting journey.
        </p>

        <h2>What Sets Us Apart</h2>
        <p>
            CryptoSentry is not just another crypto app. Here's what makes us different:
        </p>
        <ul>
            <li><strong>Accuracy:</strong> We prioritize accuracy and reliability in our data, ensuring that you have access
                to the most precise and up-to-date cryptocurrency information.</li>
            <li><strong>User-Friendly:</strong> Our user-friendly interface makes it easy for both beginners and
                experienced users to explore the crypto world.</li>
            <li><strong>Education:</strong> We are committed to educating our users. We provide in-depth resources and guides
                to help you understand and make informed decisions about cryptocurrencies.</li>
            <li><strong>Community:</strong> Join our growing community of crypto enthusiasts and stay connected with others
                who share your interests.</li>
        </ul>
    </section>

    <footer>
	<div>
	<img src="https://drive.google.com/uc?id=12Fht96CfvtwbRdwy3JBUY7gyYty2c7Vs">
	</div>
	<div class="social-icons">
    <a href="https://www.linkedin.com/in/ifeanyichukwu-izuegbu-4b5362104/" target="_blank" rel="noopener">
    <i class="fab fa-linkedin"></i>
    </a>

     <a href="https://twitter.com/Ifeconastar_" target="_blank" rel="noopener">
    <i class="fab fa-twitter"></i>
    </a>
	<a href="https://instagram.com/star_devop" target="_blank" rel="noopener">
    <i class="fab fa-instagram"></i>
    </a>
	<a href="http://youtube.com/@ifeanyiizuegbu" target="_blank" rel="noopener">
    <i class="fab fa-youtube"></i>
    </a>
    </div>
        <p>&copy; 2023 CryptoSentry. All rights reserved.</p>
    </footer>
</body>
</html>

