<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Exchanges</title>
	<link rel="stylesheet" href="css/exchange_styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
	<img src="https://drive.google.com/uc?id=12Fht96CfvtwbRdwy3JBUY7gyYty2c7Vs">
	<div>
        <h1>Cryptocurrency Exchanges</h1>
        <p>Stay Informed with the Latest Reputable Exchanges</p>
		<a href="landing.html">Logout</a> <!-- Link to the about_us page -->
        <a href="about_us.html">About Us</a> <!-- Link to the about_us page -->
		<a href="portfolio.html">My Portfolio</a> <!-- Link to the about_us page -->
	</div>
    </header>
    <section class="exchanges">
        <p>Exchange your coins on these trusted sites:</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>24Hr Trading Volume (USD)</th>
                    <th>Number of Trading Pairs</th>
                    <th>Exchange Website</th>
                </tr>
            </thead>
            <tbody id="exchange-list">
                <!-- Exchange data will be populated here -->
            </tbody>
        </table>
    </section>
	<footer>
	<div>
	<img src="https://drive.google.com/uc?id=12Fht96CfvtwbRdwy3JBUY7gyYty2c7Vs">
	</div>
	<div class="social-icons">
    <a href="https://www.linkedin.com/in/ifeanyichukwu-izuegbu-4b5362104/" target="_blank" rel="noopener">
    <i class="fab fa-linkedin"></i>
    </a>

     <a href="https://twitter.com/Ifeconastar_" target="_blank" rel="noopener">
    <i class="fab fa-twitter"></i>
    </a>
	<a href="https://instagram.com/star_devop" target="_blank" rel="noopener">
    <i class="fab fa-instagram"></i>
    </a>
	<a href="http://youtube.com/@ifeanyiizuegbu" target="_blank" rel="noopener">
    <i class="fab fa-youtube"></i>
    </a>
    </div>
        <p>&copy; 2023 CryptoSentry. All rights reserved.</p>
    </footer>
    <script src="js/exchanges.js"></script>
</body>
</html>

