<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoSentry Learning Hub</title>
    <link rel="stylesheet" href="css/learning_hub_styles.css"> <!-- You can link to your CSS file here -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
	<img src="https://drive.google.com/uc?id=12Fht96CfvtwbRdwy3JBUY7gyYty2c7Vs">
	        <div>
               <h1>CryptoSentry Learning Hub</h1>
               <p>Your Source for Cryptocurrency Education</p>
		       <a href="landing.html">Logout</a> <!-- Link to the about_us page -->
               <a href="about_us.html">About Us</a> <!-- Link to the about_us page -->
		       <a href="portfolio.html">My Portfolio</a> <!-- Link to the about_us page -->
			</div>   
    </header>
    <section id="about">
        <h2>About Us</h2>
        <p>At CryptoSentry, we understand that the world of cryptocurrencies can be complex and overwhelming, especially for newcomers. That's why we've created the CryptoSentry Learning Hub. Our mission is to empower crypto enthusiasts, investors, and beginners with the knowledge and insights they need to navigate the exciting world of digital currencies.</p>
    </section>
    <section id="offer">
        <h2>What We Offer</h2>
        <h3>Educational Resources</h3>
        <p>Our Learning Hub is dedicated to providing a wide range of educational resources to help you understand the fundamentals of cryptocurrencies. From beginner's guides to in-depth articles, we cover topics such as:</p>
        <ul>
            <li>Cryptocurrency Basics: Learn about the history, technology, and different types of cryptocurrencies.</li>
            <li>Investment Strategies: Discover how to make informed investment decisions and manage your crypto portfolio effectively.</li>
            <li>Security Tips: Get essential tips on how to keep your digital assets safe from cyber threats.</li>
            <li>Market Analysis: Stay updated with market trends and analysis to make strategic investment choices.</li>
            <li>Blockchain Technology: Explore the underlying blockchain technology that powers cryptocurrencies.</li>
        </ul>
        <h3>Community Engagement</h3>
        <p>Join our vibrant crypto community where you can connect with like-minded individuals, ask questions, and share your insights. Engage in discussions, participate in forums, and learn from experienced crypto enthusiasts.</p>
        <h3>Interactive Learning</h3>
        <p>Stay tuned for our upcoming interactive courses and webinars. Our team of experts is working hard to bring you engaging and informative learning experiences that cater to both beginners and experienced crypto enthusiasts.</p>
    </section>
    <section id="coming-soon">
        <h2>Coming Soon</h2>
        <p>We're committed to providing you with high-quality educational content. While our Learning Hub is under development, you can expect a wealth of knowledge and resources to be available soon. Stay updated with our progress, and get ready to embark on your crypto learning journey with CryptoSentry.</p>
    </section>
    <footer>
	<div>
	<img src="https://drive.google.com/uc?id=12Fht96CfvtwbRdwy3JBUY7gyYty2c7Vs">
	</div>
	<div class="social-icons">
    <a href="https://www.linkedin.com/in/ifeanyichukwu-izuegbu-4b5362104/" target="_blank" rel="noopener">
    <i class="fab fa-linkedin"></i>
    </a>

     <a href="https://twitter.com/Ifeconastar_" target="_blank" rel="noopener">
    <i class="fab fa-twitter"></i>
    </a>
	<a href="https://instagram.com/star_devop" target="_blank" rel="noopener">
    <i class="fab fa-instagram"></i>
    </a>
	<a href="http://youtube.com/@ifeanyiizuegbu" target="_blank" rel="noopener">
    <i class="fab fa-youtube"></i>
    </a>
    </div>
        <p>&copy; 2023 CryptoSentry Learning Hub</p>
    </footer>
</body>
</html>

